<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{/shared/header :: header}"/>
</head>
<body>
<div th:replace="~{/shared/header :: navbar}"/>

<!-- Page Banner Section Start -->
<div class="page-banner-section section">
    <div class="container">
        <ul class="breadcrumb">
            <li><a th:href="@{/}">Home</a></li>
            <li>Order Confirmation</li>
        </ul>
    </div>
</div>
<!-- Page Banner Section End -->

<div class="container">
    <h1>Thanks For Order</h1>

    <div class="back-to-home">
        <a th:href="@{/products}" class="btn btn-primary">Continue Shopping</a>
    </div>
</div>


<div th:replace="~{/shared/footer :: footerOt}"/>

<div th:replace="~{/shared/footer :: scriptOt}"/>
</body>
</html>
