<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="~{/shared/header :: header}"/>
</head>
<body>
<div th:replace="~{/shared/header :: navbar}"/>

<!-- Page Banner Section Start -->
<div class="page-banner-section section">
	<div class="container">
		<ul class="breadcrumb">
			<li><a th:href="@{/}">Home</a></li>
			<li>Create new account</li>
		</ul>
	</div>
</div>
<!-- Page Banner Section End -->

	<div class="container text-center">
		<h3>Check your email to confirm your account!</h3>
	</div>


<div th:replace="~{/shared/footer :: footerOt}"/>

<div th:replace="~{/shared/footer :: scriptOt}"/>
</body>
</html>